body{
    text-align:center;
    background-color: #99ccff;
    
}
div
{
    text-shadow: 2px 2px teal;
    border:solid;
    border-bottom-width: 20px;
    background-color: #e6f2ff;
    
}
footer
{
    text-shadow: 2px 2px teal;
    width:1400px;
    background-color:black;
    color:white;
}
hr
{
    text-align: center;
}
