body
{
    background-color:#c15b4d; 
    text-align:center;
}

h2
{
    border:solid;
    color:white;
}

title
{
    border:solid;
    border-color:white;
    border-left: thick solid #ffffff;
}

h1
{
    border:solid;
    background-color:white;
    border-left: thick solid #ffffff;
    border-right: thick solid #ffffff;
    border-bottom-width: thick;
    border-top-width: thick;
  

}

legend
{
 font-size: 25px; 
 text-decoration: underline;
 
}

form
{
    border:solid;
    background-color: #96ceb4;
    
}

fieldset 
{
    border: 0;
}
zip
{
    border-bottom-style: solid;
}

