#won,#lost
{
    display: none;
    color: white;
}
#word,#letters
{
    padding:20px 0px;
    color: white;
}
#man
{
   
    margin:20px;
    width:600px;
    height: 600px;
    border:solid;
   
    border-color: white;
    border-radius: 5px;
    border-width: 1px;
    text-align: center;
}
#word
{
    font-size: 1.8em;
}
.hint
{
    font-size: 0.6em !important;
}
.btn
{
    padding:7px 7px !important;
    margin:0px 2px;
}
h1
{
    color:white;
}
h2
{
    text-align: center;
}
endGame
{
    text-align: center;
}
div
{
    text-align: center;
     background-color:#07575B;
}
h1
{
    text-align: center;
    background-color: #07575B1;
}
body
{
    text-align: center;
    background-color: #07575B;
}
font
{
    color:white;
}
form
{
    color: black;
}
container text-center
{
    text-align: center;
}